/*-------------------------header-----------------------*/
.entete li{
  display: inline;/*gmail,images et menu a droite*//*mots sur la meme ligne*/
  float:right;

}
/*----------------------------logo goole-------------------------*/
.logo{
width: 25%;
height: 25%;
margin-left: 35%;
margin-top: 8%;
}
/*-----------------------------barre de recherche--------------------*/
.text{
  display: block;
  margin-left: 28%;
  width: 35%;
}
/*--------------------------footer--------------------------------*/
footer{
  background-color:#eeeeee;/*couleur gris fond footer*/
  height: 10%;
  position: absolute;
  width: 100%;
  margin-top:17%;
}
/*-----------------------ligne liens----------------------*/
footer li{
display: inline;/* installe les 6 items en une ligne*/

}/*----------------3 items a droite-----------------------*/
.right{
  float: right;
  /*----------------3 items a gauche----------------------*/
}
.left{
  float: left;
}
















footer{
